.auth-container{
    .switch-content{
        font-size: 18px;
        span{
            color: var(--grey);
            font-weight: bolder;
            text-decoration: underline;
           
        }
    }
}