.logo-container{
    margin-top:7%;
    font-size: 38px;
    display: flex;
    justify-content: center;
    color: var(--grey);
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px var(--green);
}

