.profile-container{
    
    .public-profile-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .profile-avator{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--green);
            border-radius: 50%;
            height: 100px;
            width: 100px;
            text-align: center;
            color:var(--pink);
            font-size: 30px;
            font-weight: bold;
        }
        .profile-name{
            font-size: 20px;
            background-color: var(--pink);
            color:var(--white);
            padding: 20px;
            border-radius: 30px;

        }
        .profile-email{
            background-color: var(--green);
            color: var(--white);
            border-radius: 20px;
            padding: 20px;
        }
        .profile-courses-enrolled{
            background-color: var(--pink);
            color:var(--white);
            padding: 20px;
            border-radius: 20px;
        }
    }
}